@{
    ViewBag.Title = "NoVote";
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<body>
    <div style="margin:200px auto;width:960px;height:200px;text-align:center;">
    <h2>系统提示</h2>
    <p>对不起，你不具有该操作权限！如有疑问请联系管理员。</p>
    </div>
</body>
</html>