@{
    ViewBag.Title = "NoVoteJson";
}
<div style="text-align: center;">
    <img src="@Url.Content("~/Content/images/noaccess.png")" alt="无访问权限" style="height:100px; width:100px;" /><br />
    <br /><hr />
    <p style="color: red; font-size: 20px;">@ViewData["Msg"]</p>
</div>
